<section class="card">
  <p>
    <header>
      <div>
        <img class="leaderboard-avatar" src="{{avatar}}" />
        Wins:
        {{win_count}}
        {{username}}
      </div>
    </header>
  </p>
</section>