<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css" />
    <script src="js/game_logic.js"></script>
  </head>

  <body class="flex-column min-100-vh">
  <nav class="navbar">
    <ul>
      <li class="li-inline nav-item"><a href="/main">Home</a></li>
      <li class="li-inline nav-item"><a href="/leaderboardAuth">Leaderboard</a></li>
      <li class="li-inline nav-item"><a href="#" id="logout-link">Logout</a></li>
      {{!-- <li class="li-inline nav-item"><a href="/signup">Signup</a></li> --}}
    </ul>
  </nav>
  <header class="hero">
    <h1 class="app-title"><a href="/play">Connect 4 Game</a></h1>
  </header>

  {{{body}}}

  <main class="col-auto">

  </body>

  <script src="/js/logout.js"></script>
</html>