<div id="avatar-section">
    <div id="avatar-info">
        <div id="current-username"></div>
        <div>Wins: </div>
        <h3 id="wins"></h3>
        <button id="change-avatar" type="submit"></button>  
    </div>
</div>

<script src="/js/avatar.js"></script>