<main class="game">
		<div class="board">
			<img id="game-board" src="img/board.png" class="overlay">
			<div class="cols">
				<div class="col" id="col_1" data-in-col="0"></div>
				<div class="col" id="col_2" data-in-col="0"></div>
				<div class="col" id="col_3" data-in-col="0"></div>
				<div class="col" id="col_4" data-in-col="0"></div>
				<div class="col" id="col_5" data-in-col="0"></div>
				<div class="col" id="col_6" data-in-col="0"></div>
				<div class="col" id="col_7" data-in-col="0"></div>
			</div>
		</div>
		<div class="status"> </div>
	</main>

