<div class="card">
  <div class="card-header">
    <h2>Login</h2>
  </div>
  <form id="login-form" class="card-body">
    <div>
      <label for="username-login">Username</label>
      <input type="text" id="username-login" />
    </div>
    <div>
      <label for="password-login" class="form-label">Password</label>
      <input type="password" id="password-login" />
    </div>
    <button type="submit" id="login-btn login-form" class="btn">Login!</button>
    <a type="button" class="alt-login" href="/signup">Sign up here</a>
  </form>
</div>

<script src="/js/login.js"></script>