@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

body {
  text-align: center;
  background-color: rgb(50, 74, 95, .3);
  color: black;
}

.board{
	width: 700px;
	height: 600px;
	background-color: rgb(27, 42, 65);
  border: 1px solid navy;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0px 10px 43px -16px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 10px 43px -16px rgba(0,0,0,0.75);
	box-shadow: 0px 10px 43px -16px rgba(0,0,0,0.75);
}

.game{
	position: relative;
	width: 700px;
	margin: auto auto 0;
}

.board .overlay{
	position: absolute;
	z-index: 100;
	left: 0;
	top: 0;
	pointer-events: none;
	-webkit-filter: drop-shadow( 5px 5px 5px rgba(0,0,0,0.1));
	filter: drop-shadow( 5px 5px 5px rgba(0,0,0,0.1));
}

.cols{
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 10;
}

.cols > .col{
	position: relative;
	float: left;
	width: 100px;
	height: 100%;
}


.coin{
	position: absolute;
	left: 5px;
	margin-top: 5px;
	width: 90px;
	height: 90px;
	-webkit-border-radius: 45px;
	-moz-border-radius: 45px;
	border-radius: 45px;
}

.red-piece{
	background: rgb(238, 17, 17);
}
.yellow-piece{
	background: rgb(255, 230, 0);
}

/* leaderboard*/

#container {
	width: 600px;
	height: auto;
}

.row {
	position: relative;
	display: block;
	width: 100%;
	height: 40px;
	border-bottom: 1px solid #AFAFAF;
}

.name {
	position: relative;
	display: inline-block;
	width: 75%;
	line-height: 45px;
}

.yellow-piece {
  background-color: yellow;
}

/* leaderboard*/

#container {
	width: 600px;
	height: auto;
}

.row {
	position: relative;
	display: block;
	width: 100%;
	height: 40px;
	border-bottom: 1px solid #AFAFAF;
}

.name {
	position: relative;
	display: inline-block;
	width: 75%;
	line-height: 45px;
}

.score {
	position: relative;
	display: inline-block;
	width: 25%;
} 

/* status bar to display turn or if player 2 is connected */
.status{
	position: absolute;
	bottom: -40px;
	width: 100%;
	text-align: center;
	line-height: 40px;
	font-size: 20px;
	color: #fff;
	background-color: #e64;
	border-radius: 0 0 10px 10px;
}

#navig-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;  
  list-style: none;
  padding: 20 0 20 0;
  margin: 0 0 10 0;
}

nav{
  background-color: #324A5F;
}

.nav-item {
  padding: 10px;
}

.nav-item > a{
  color: rgb(224, 221, 240);
}
/* 
img {
  height: 230px;
  display: flex;
  position: relative;
  left: 100px;
  top: 40px;
} */

#game-board {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
}

.app-title{
  margin: 15px;
  padding: 10px;
  background-color: #324A5F;
  color: rgb(204, 200, 220);  
}

.app-title:hover{
 background-color: rgb(204, 200, 220);
 color: #324A5F;
}

.alt-login{
  color: black;
  text-decoration: none;
}
.alt-login:hover{
  text-decoration: underline;
}

#login-form>div{
  margin-bottom: 5px;
}

.leaderboard-avatar{
	height: 40px;
	width: 40px;
}

.lbd-card{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.lbd-card>a{
	margin: 0px 0px 0px 7px;
	font-size: 20px;
}

#avatar-info {
	font-family: 'Courgette', cursive;
	font-size: 50px;
	/* display: flex; */
}

.avatar-icon {
  height: 230px;
  display: flex;
  position: relative;
  left: 100px;
  top: 40px;
}

/* #change-avatar {
	font-size: 10px;
	font-weight: bolder;
	width: 100px;
	height: 30px;
	border-radius: 50px;
} */