.grid {
  border: 1px solid;
  background-color: aliceblue;
  height: 120px;
  width: 140px;
  display: flex;
  flex-wrap: wrap;
}

.grid div {
  height: 20px;
  width: 20px;
}

.player-one {
  background-color: yellow;
  border-radius: 10px;
}

.player-two {
  background-color: blue;
  border-radius: 10px;
}
